<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" href="/src/favicons/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/src/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/src/favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Entrepreneur Empowerment of Tampa Bay - Thank You</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="index.html/#home" class="w3-bar-item w3-button w3-wide"
          ><img
            src="/src/"
            alt="Entrepreneur Empowerment of
        Tampa Bay logo"
            style="width: 240px; height: 160px; margin: -2.5rem"
        /></a>
        <!-- Right-sided navbar links -->
        <div
          class="
            w3-right w3-margin-top w3-cell-middle w3-hide-small w3-hide-medium
          "
        >
          <a href="index.html/#about" class="nav-button w3-bar-item w3-button"
            ><i class="fa fa-info-circle"></i> ABOUT</a
          >
          <a href="index.html/#events" class="nav-button w3-bar-item w3-button"
            ><i class="fa fa-calendar"></i> EVENTS</a
          >
          <a
            href="index.html/#community"
            class="nav-button w3-bar-item w3-button"
            ><i class="fa fa-users"></i> COMMUNITY</a
          >
          <a
            href="index.html/#investors"
            class="nav-button w3-bar-item w3-button"
            ><i class="fa fa-usd"></i> INVESTORS</a
          >
          <a href="index.html/#contact" class="nav-button w3-bar-item w3-button"
            ><i class="fa fa-envelope"></i> CONTACT</a
          >
        </div>

        <!-- Responsive hamburger menu -->

        <a
          href="javascript:void(0)"
          class="w3-bar-item w3-button w3-right w3-hide-large"
          onclick="w3_open()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Hamburger menu - sidebar -->
    <nav
      class="
        w3-sidebar
        w3-bar-block
        w3-blue-grey
        w3-card
        w3-animate-top
        w3-hide-large
      "
      style="display: none; width: 200px; right: 0"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item w3-button w3-large w3-padding-16"
        >Close ×</a
      >
      <a
        href="index.html/#about"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
        >ABOUT</a
      >
      <a
        href="index.html/#events"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
        >EVENTS</a
      >
      <a
        href="index.html/#community"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
        >COMMUNITY</a
      >
      <a
        href="index.html/#investors"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
        >INVESTORS</a
      >
      <a
        href="index.html/#contact"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
        >CONTACT</a
      >
    </nav>

    <!-- Thank You message -->

    <div>
      <br /><br /><br /><br /><br /><br /><br />
      <h3 class="w3-center">THANK YOU</h3>
      <p class="w3-center w3-large">
        Thank you for contacting Entrepreneur Empowerment of Tampa Bay. We will
        get back to you as soon as possible.
      </p>
      <br /><br />
    </div>
  </body>
  <!-- Footer -->
  <footer class="w3-container w3-center w3-orange w3-padding-32">
    <p>
      Powered by
      <a
        href="https://www.w3schools.com/w3css/default.asp"
        title="W3.CSS"
        target="_blank"
        class="w3-hover-text-green"
        >w3.css</a
      >
    </p>
  </footer>
  <script>
    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById('mySidebar')

    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none'
      } else {
        mySidebar.style.display = 'block'
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = 'none'
    }
  </script>
  <script type="module" src="/src/main.ts"></script>
</html>
