:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('/src/images/tampabay.jpg');
  min-height: 50%;
  opacity: 0.85;
}

/* .bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('/images/eeotb.jpeg');
  min-height: 50%;
} */

.w3-bar .w3-button {
  padding: 16px;
}

.header {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.community,
.accomplishments {
  background-color: #f79e44;
}

.events,
.contact-send,
.footer {
  background-color: #0e5da1;
}

.nav-button,
.icon,
.text {
  color: #0e5da1;
}
.flex-container {
  display: flex;
}

.partner-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
